#Backend env
NODE_ENV=development

#Mailer config
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SECURE=false
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_SERVICE=gmail

#Mongo db credentials :
MONGO_URI=mongodb://localhost:27017/db_name
